.larg-pagina{
	max-width:1400px;
}
.larg-mg-perfil{
	width:50px;
}
.primeira-habilidade{
	width:70%;
}
.segunda-habilidade{
	width:80%;
}
.terceira-habilidade{
	width:90%;
}
.quarta-habilidade{
	width:100%;
}
.primero-idioma{
	widh:75%;
}
.segundo-idioma{
	widh:30%;
}
